<?xml version="1.0" encoding="UTF-8"?>
<module name="org.jsoup" xmlns="urn:jboss:module:1.9" >
    <resources>
        <artifact name="${org.jsoup:jsoup}"/>
    </resources>
    <dependencies>
        <module name="java.xml"/>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
